@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap&display=swap');
@font-face {
  font-family: 'Bernard MT';
  src: url('/font/bernardMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  display: swap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.courier-prime {
  font-family: 'Courier Prime', monospace;
}

.bernard-mt {
  font-family: 'Bernard MT', serif;
}

@media print {
  @font-face {
    font-family: 'Bernard MT';
    src: url('/font/bernardMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  #document {
    font-family: 'Bernard MT', serif;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #document {
    width: 100%;
  }
}

/* Other custom styles */
